html {
    margin: 0;
    padding:0;
    height: 100vh;
}
body {
    margin: 0;
}
#container {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}
.block {
    flex: 1 1 auto;
    margin:0;
    width: 6.25vh;
    height: 6.25vh;
}

.hover {
    background-color:aqua;
}
/* .block:hover {
    background-color:aqua;
} */